<div class="mat-dialog">
  <h1 mat-dialog-title>Time to make a note?</h1> 
  <div mat-dialog-content class="content"> 
    <div class="text-input">
      <div>
        <mat-form-field class="full-width"> 
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="data.name"> 
        </mat-form-field> 
      </div> 
      <div >
        <mat-form-field class="full-width">
          <mat-label>Text</mat-label>
          <textarea matInput resizeToFitContent
            [(ngModel)]="data.content" placeholder="Make a note!"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="style-input">
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let chip of chips" (click)="changeColor(chip.color)"
             [style.background-color]="chip.color"
             [selected]="chip === selectedChip" [disabled]="chip === selectedChip" (click)="selectChip(chip)">
          {{chip.name}}
        </mat-chip-option>
      </mat-chip-listbox>
     <div>
      <h1>Select icons:</h1>
      <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile *ngFor="let icon of pageIcons">
        <button mat-icon-button [disabled]="!icon" *ngIf="isImageUrl(icon); else matIconTemplate" (click)="toggleIconSelection(icon)">
          <img [src]="icon" alt="Image" [ngClass]="{ 'selected': isSelectedIcon(icon) }">
        </button>
        <ng-template mat-icon-button #matIconTemplate>
          <button mat-icon-button [disabled]="!icon" (click)="toggleIconSelection(icon)"> 
            <mat-icon class="white" [ngClass]="{ 'selected': isSelectedIcon(icon) }">{{ icon }}</mat-icon>
          </button>
        </ng-template>
      </mat-grid-tile>
      </mat-grid-list>
      

        <mat-paginator [length]="noteIcons.length"
                [pageSize]="15"
                [pageIndex]="page"
                (page)="getData($event)"
                hidePageSize>
        </mat-paginator>
       
     </div> 
      <div>
          <h1>Add new icon</h1>
          <mat-form-field class="iconLink"> 
            <mat-label>Link to new icon</mat-label>
            <input matInput [(ngModel)]="iconLink"> 
            
          </mat-form-field> 
          <button mat-raised-button color="primary" (click)="addIcon()">Add icon</button>
          <button mat-raised-button color="primary" (click)="removeIcon()" 
            matTooltip="Click this to remove selected user categories from storage">Remove selected user icons</button>
        </div>
    </div>
    <div class="category-input">
      <h1>Select categories:</h1>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="mat-tree-node-leaf">
          <mat-checkbox (change)="toggleCategorySelection(node.name)" [checked]="isSelectedCategory(node.name)">
            {{ node.name }}
          </mat-checkbox>
          <button mat-icon-button matTooltip="Add Subcategory" (click)="openAddSubcategoryDialog(node)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Remove category" (click)="removeCategory(node)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-tree-node>
      
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox (change)="toggleCategorySelection(node.name)" [checked]="isSelectedCategory(node.name)">
              {{ node.name }}
            </mat-checkbox>
            <button mat-icon-button matTooltip="Add Subcategory" (click)="openAddSubcategoryDialog(node)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Remove category" (click)="removeCategory(node)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
      
     </div>
  </div> 
  <div mat-dialog-actions> 
    <button mat-button (click)="onCancel()">No Thanks</button> 
    <button mat-button [mat-dialog-close]="data"  
              cdkFocusInitial>Ok</button> 
  </div> 
</div>